/** Administration **/

div.admin .left,
div.admin .right {
  width: 48%;
  margin-left: 0;
  margin-right: 1em;
  float: left;
}

div.admin-panel {
  padding: 0.5em 0;
}

.admin-panel h3,
div.admin-panel h3 {
  margin: 0;
  padding: 0.5em 1em;
  background-color: #f8f8f8;
  font-size: 1.15em;
}

.admin-panel .body,
div.admin-panel .body {
  background-color: #fafafa;
  padding: 0.5em 1em;
}

.progress .message {
  margin: 0.5em 0;
}

