
/** HTML **/

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 960px;
}

body.admin-menu {
  padding-top: 1em;
}

dl {
  line-height: 1.5em;
}

dt {
  margin: 1em 0 0;
}

dd {
  margin: 0 0 0 2em;
}


/** Misc **/

.clear {
  clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}


/** Layout **/

#page {}

#page-inner {}

#main {}

#main-inner {}

#header {}

#header-inner {}

#footer {}

#footer-inner {}

#top,
#middle,
#bottom {
  margin: 0 auto;
  width: 960px;
}

#top {}

#top-inner {
  margin: 1em 0;
}

#middle {}

#middle-inner {}

#bottom {}

#bottom-inner {
  margin: 1em 0;
}

#left,
#center,
#right {
  margin: 0;
  padding: 1em 0 0;
}

.has-breadcrumb #left,
.has-breadcrumb #center,
.has-breadcrumb #right {
  padding-top: 0;
}

#left {
  float: left;
  width: 200px;
}

.no-sidebars #left,
.sidebar-right #left {
  width: 0;
}

#left-inner {
  margin-left: 1em;
}

#center {
  float: left;
  width: 560px;
}

.no-sidebars #center {
  width: 960px;
}

.sidebar-left #center {
  width: 760px;
}

.sidebar-right #center {
  width: 760px;
}

.two-sidebars #center {}

#center-inner {
  margin-left: 1em;
  margin-right: 1em;
}

.no-sidebars #center-inner {}

.sidebar-left #center-inner {}

.sidebar-right #center-inner {}

.two-sidebars #center-inner {}

#right {
  float: right;
  width: 200px;
}

.no-sidebars #right,
.sidebar-left #right {
  width: 0;
}

#right-inner {
  margin-right: 1em;
}

#content,
#content-top,
#content-bottom {
  margin: 0 0 1em;
}

#content {}

#content-inner{}

#content-top {}

#content-top-inner{}

#content-bottom {}

#content-bottom-inner{}

