/** Messages **/

div.messages,
div.status,
div.warning,
div.error,
div.help {
  margin: 1em 0;
  padding: 0.5em;
  border: 1px dotted #ff7;
  background-color: #ffc;
  font-size: 0.9em;
  line-height: 1.25em;
}

div.messages a,
div.status a,
div.warning a,
div.error a,
div.help a {
  text-decoration: underline;
}

div.messages a:hover,
div.status a:hover,
div.warning a:hover,
div.error a:hover,
div.help a:hover {
  text-decoration: none;
}

div.status {
  color: #33a333;
  background-color: #C0EDB8;
  border-color: #33a333;
}

div.status a {
  color: #66BA44;
}

div.warning {
  color: #CBAC39;
  border-color: #fc0;
}

div.warning a {
  color: #E9BA02;
}

div.warning,
tr.warning {
  background-color: #ffc;
}

div.error {
  border-color: #c00;
}

div.error a {
  color: #c00;;
}

div.error,
tr.error {
  color: #900;
  background-color: #fee;
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.help {
  background-color: #ebf2fa;
  border-color: #b8d2f3;
}
