/** Search form **/

.search-form .form-submit {
  font-size: 1em;
  line-height: 1em;
  padding: 0.5em 1em;
}

/** Fix search form due to padded textfields **/

#xc-search-form {}

#xc-search-keys {
  width: 78%;
}

#xc-search-keys .form-item,
#xc-search-hits .form-submit {
  margin-bottom: 0;
}

#xc-search-keys .form-text {
  width: 100%;
}

#xc-search-hits {
  margin-left: 2em;
}

#xc-search-info {
  padding: 0.5em;
  font-size: 0.9em;
}

#xc-search-info label {
  font-weight: normal;
}

#xc-search-sort {}

#xc-search-rows {}


/** Style search result navigation **/

#xc-search-result-navigation {
  border: 1px solid #eee;
  color: #777;
}

#xc-search-result-navigation a {
  color: #777;
}

#xc-search-result-navigation .result-nav {
  line-height: 26px;
}

#xc-search-result-navigation .result-prev {
  margin-left: 7px;
  padding-left: 18px;
  background-image: url("../images/prev.png");
  background-repeat: no-repeat;
  background-position: center left;
}

#xc-search-result-navigation .result-list {}

#xc-search-result-navigation .result-next {
  padding-right: 18px;
  margin-right: 7px;
  background-image: url("../images/next.png");
  background-repeat: no-repeat;
  background-position: center right;
}


/** Info bar **/

.xc-search-info-bar {
  clear: both;
}

.xc-search-info-bar {
  margin: 0;
  padding: 0.5em;
  clear: both;
  height: 40px;
  line-height: 40px;
  font-size: 0.9em;
  text-align: center;
}

.xc-search-info-bar-primary {
  border: 1px solid #ddd;
  background-color: #fafafa;
}

.xc-search-info-bar-secondary {}

.xc-search-info-bar-001a-primary {}

.xc-search-info-bar-001a-secondary {}

.xc-search-info-bar-001b-primary {}

.xc-search-info-bar-001b-secondary {}

.xc-search-info-bar-002a-primary {}

.xc-search-info-bar-002a-secondary {}

.xc-search-info-bar-002b-primary {}

.xc-search-info-bar-002b-secondary {}

.xc-search-info-bar-top {}

.xc-search-info-bar-bottom {}

.xc-search-info-bar-pager {
  border: 1px solid #eee;
  height: 30px;
  line-height: 30px;
  padding: 0;
}

.xc-search-info-bar-actions {
  display: inline;
}

.xc-search-actions {
  display: inline;
}


.xc-search-action-links {
  float:left;
}

.xc-search-action-links .links {
  display: inline;
}

.xc-search-action-links ul,
.xc-search-action-buttons ul {
  margin: 0;
  padding: 0;
  display: inline;
  list-style: none;
}

.xc-search-action-links ul li {
  list-style: none;
  padding: 0;
}

.xc-search-action-links ul li.first {}

.xc-search-action-links ul li a {}

.xc-search-action-buttons {
  float: left;
  margin: 0;
}

.xc-search-action-buttons .item-list {
  display: inline;
}


.xc-search-action-buttons ul {
  margin: 0;
  padding: 0;
  display: inline;
  list-style: none;
}

.xc-search-action-buttons ul li {
  margin: 0;
  padding: 0;
  display: inline;
  list-style: none;
}

.xc-search-action-buttons ul li input {
  margin: 0.25em 0;
  padding: 0.25em 1em;
  font-weight: normal;
}

.xc-search-numbers {
  float: right;
}

.xc-search-numbers .first,
.xc-search-numbers .last,
.xc-search-numbers .total {}

.xc-search-numbers .first {}

.xc-search-numbers .last {}

.xc-search-numbers .total {}

.xc-search-pager {}

.xc-search-pager .item-list {}

.xc-search-pager .pager {
  margin: 0;
  padding: 0;
  display: inline;
  clear: none;
}

.xc-search-pager ul {}

.xc-search-pager ul li,
.xc-search-pager .item-list .pager li {
  display: inline;
  margin: 0 0 0 0.5em;
  padding: 0;
  text-align: center;
}

.xc-search-pager ul li a,
.xc-search-pager ul li.pager-current,
.xc-search-pager .item-list .pager li.pager-current {
  margin: 0;
  padding: 0;
  border: none;
}

.xc-search-pager ul li.pager-ellipsis,
.xc-search-pager .item-list .pager li.pager-ellipsis {
  display: none !important;
}

.xc-search-pager-previous, .xc-search-pager-next {
  background-repeat: no-repeat;
  background-position: center;
}

.xc-search-pager-next {
  background-image: url("../images/next.png");
}

.xc-search-pager-previous {
  background-image: url("../images/prev.png");
}

.xc-search-pager .xc-current .form-text {
  margin: 0 0.5em;
  padding: 0;
  width: 50px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-image: none;
}

.xc-search-pager .xc-current {
  margin: 0 0.5px;
  padding: 0;
}

.xc-search-pager ul li.first,
.xc-search-pager ul li.first a,
.xc-search-pager .item-list .pager li.first,
.xc-search-pager .item-list .pager li.first a {
  border-left: none;
}

.xc-search-pager ul li.pager-current {}

.xc-search-pager ul li.pager-current a {}

.xc-search-action-form {
  float: right;
  display: inline;
}

.xc-search-sort-form, .xc-search-sort-form form, .xc-search-sort-form form div {
  display: inline;
}

.xc-search-rowsperpage {
  display: inline;
}

.xc-search-rowsperpage-link-actual {
  font-weight: bold;
}


/** Search results **/

.xc-search-results {
  clear: both;
  margin-top: 0;
}

.xc-search-results tr {}

.xc-search-results tr.first {}

.xc-search-results tr.first td {}

.xc-search-results tr.last {
  border-bottom: none;
}

.xc-search-results tr.last td {
  border-bottom: none;
}

.xc-search-results td {
  padding: 1em 0.5em;
}

.xc-search-results .checkbox {
  padding-left: 0;
}

.xc-search-results .num {}

.xc-search-results .coverart {
  text-align: center;
}

.xc-search-results .result {
  padding-right: 0;
}

.xc-search-results .highlight-container {}

.xc-search-results .highlight-container .highlight,
.xc-search-results .xc-abstract-container .xc-abstract {
  padding: 1em;
  background-color: #fafafa;
  border: 1px solid #eee;
  line-height: 1.5em;
}

.xc-search-results .result .xc-snippet .snippet-label {
  color: #777;
}

.xc-search-results .result .xc-title {
  margin-bottom: 0.15em;
  font-size: 1.1em;
}

.xc-search-results .result .xc-creator {
  margin-bottom: 0.15em;
  font-size: 0.95em;
}

.xc-search-results .result .xc-creator-name {
  text-transform: uppercase;
}

.xc-search-results .result .xc-creator-name a {
  color: #222;
}

/** Facet block **/

#block-xc_search-facets h2 {
  display: none;
}

.xc-search-facet {}

.xc-search-facet ul {
  margin: 0;
  padding: 0;
}

.xc-search-facet ul li {}

.xc-search-facet-link,
.xc-search-facet-more-link {
  font-size: 0.9em;
}

.xc-search-facet-link {}

.xc-search-facet-link .facet-term {}

.xc-search-facet-link .facet-term-count {
  color: #777;
}

.xc-search-facet-more-link {}

#xc-search-facet-checkboxes {
  margin: 1em 0.5em;
  font-size: 0.9em;
}


/** Active filters for facet block **/

#xc-search-active-filters {}

#xc-search-active-filters h3 {
  margin: 1em 0.5em 0.5em;
  font-size: 1em;
}

#xc-search-active-filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.9em;
}

#xc-search-active-filters ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.xc-search-active-filter {
  margin-bottom: 0.5em;
  padding: 0 7px;
  display: block;
  height: 26px;
  line-height: 26px;
  border: 1px solid #ddd;
  background-color: #fafafa;
  overflow: hidden;
}

.xc-search-active-filter-link {}

.xc-search-active-filter-image {
  float: right;
  margin: 5px 0;
}
