div.tabs {
  margin: 0;
}

ul.primary {
  margin: 0;
  padding: 0 0 0 10px;
  background-color: #fafafa;
  border-width: 0;
  border-bottom: 1px solid #ccc;
  list-style: none;
  white-space: nowrap;
  height: 26px;
  line-height: 26px;
}

ul.primary li {
  float: left;
  margin: 0;
  padding: 0;
}

ul.primary li a {
  display: block;
  margin: 0;
  padding: 0 10px;
  border-width: 1px 1px 0;
  border-color: #ddd;
  font-weight: bold;
  text-decoration: none;
  color: #777;
  background-color: #f8f8f8;
  height: 25px;
}

ul.primary li a:hover {
  background-color: #fff;
}

ul.primary li.active a {
  height: 26px;
  border-color: #ccc;
  border-bottom-width: 0;
}

ul.primary li.active a,
ul.primary li.active a:hover {
  color: #222;
  background-color: #fff;
}

ul.primary li a:hover {
  text-decoration: underline;
  border-color: #ccc;
}

ul.secondary {
  border: none;
  margin: 0;
  padding: 0;
  color: #aaa;
  height: 26px;
  line-height: 26px;
  list-style: none;
  white-space: nowrap;
  border: solid #ccc;
  border-width: 0 1px 1px;
}

ul.secondary li {
  margin: 0;
  padding: 0 10px;
  display: block;
  float: left;
  border: none;
}

ul.secondary li.active {
  color: #222;
}

ul.secondary a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #aaa;
  border: none;
}


ul.secondary a:hover {
  text-decoration: underline;
  border: none;
}

ul.secondary a.active,
ul.secondary a.active:hover {
  color: #222;
  border: none;
}
