/** HTML **/

body {
  background-color: #fafafa;
  color: #222;
  font-size: 0.8em;
  font-family: Verdana,sans-serif;
}

fieldset,
html.js fieldset.collapsible,
html.js fieldset.collapsed {
  padding: 0.5em;
  margin: 1em 0;
  background-color: #fafafa;
  border: 1px solid #ddd;
}

fieldset fieldset {
  background-color: #fff;
}


legend {
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #222;
  font-weight: bold;
}

legend a,
html.js fieldset.collapsible legend a {
  color: #222;
  text-decoration: none;
}

legend a:hover {
  text-decoration: underline;
}

table {
  margin: 1em 0;
  width: 100%;
}

table caption {
  padding: 0.5em;
  font-style: italic;
}

tbody {
  border-top: 1px solid #ddd;
}

tr {
  border: none;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid #ddd;
}

thead th, th {
  padding: 0.5em;
  background-color: #fff;
  border-bottom: 2px solid #ddd;
}

tr.even {
  background-color: #fff;
  border: none;
}

tr.odd {
  background-color: #f8f8f8;
  border: none;
}

tr.region {
  background-color: #eee;
  border-bottom: 3px solid #ddd;
}

a,
a:visited {
  color: #003399;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0 0 1em;
}

li a.active {
  color: #222;
}


/** Header **/

#header {}

#header .block h2.title {
  display: none;
}

#header-links {
  font-size: 0.95em;
}

#header-links-primary {
  clear: right;
}

#header-links-secondary {}

#header-links .links,
#header-links .menu {
  margin: 0;
  padding: 0;
  float: right;
}

#header-links .links li,
#header-links .menu .leaf,
#header-links #block-menu-primary-links .leaf {
  margin: 0.5em 0 0 0.5em;
  padding: 0.75em 1em;
  display: block;
  float: left;
  list-style: none;
  list-style-type: none;
  background-color: #fff;
  border: 1px solid #eee;
  color: #222;
  font-weight: bold;
}

#header-links .links li a,
#header-links .menu .leaf a,
#header-links #block-menu-primary-links .leaf a {
  color: #222;
}

#header-links #secondary li,
#header-links #xc-secondary li,
#header-links #block-menu-secondary-links .leaf {
  margin: 0.5em 0;
  padding: 0 0.5em;
  display: block;
  float: left;
  list-style: none;
  list-style-type: none;
  background: none;
  border: none;
  border-left: 1px solid #ddd;
  font-weight: normal;
  color: #555;
}

#header-links #secondary li a,
#header-links #xc-secondary li a,
#header-links #block-menu-secondary-links .leaf a {
  color: #555;
}

#header-links #secondary li.first,
#header-links #xc-secondary li.first,
#header-links #block-menu-secondary-links .first {
  border-left: none;
}

#header-links #secondary li.last,
#header-links #xc-secondary li.last,
#header-links #block-menu-secondary-links .last {
  padding-right: 0;
}

/** Site informatoin **/

.hide-title h1.title {
  display: none;
}

#logo {
  float: left;
  margin-right: 1em;
}

#site-information {
  margin: 1em 0 0;
  float: left;
}

#site-name {
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 2.5em;
  font-weight: normal;
}

#site-name a {
  color: #222;
}

#site-slogan {
  margin: 0;
  padding: 0;
}

#mission {
  margin: 1em 0;
  padding: 1em;
  font-size: 0.8em;
  background-color: #fefefe;
  border: 1px dotted #eee;
  line-height: 1.5em;
}


/** Breadcrumb **/

.breadcrumb {
  margin: 1em 0 1em 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  height: 30px;
  line-height: 30px;
  color: #777;
  background-color: #fff;
}

.breadcrumb span,
.breadcrumb a,
.breadcrumb a:visited {
  margin: 0;
  padding: 0 2.25em 0 0;
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  color: #000;
  text-decoration: none;
  background-image: url("../images/bg_bcrumb_black.png");
  background-position: right center;
  background-repeat: no-repeat;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb a.first {
  padding-left: 1em;
}

.breadcrumb a.last {}


/** Pager **/

.pager {
  margin: 1em;
  padding: 0;
}


/** Content **/

#middle {
  background-color: #fff;
}

h1.title,
h2.title,
h3.title {
  margin: 0;
  padding: 0;
}

h1.title {
  margin: 0 0 0.5em;
  font-size: 1.85em;
  font-weight: normal;
}


/** Nodes **/

.node {}

.node .links, .comment .links {
  text-align: left;
}

.picture, .comment .submitted {
  float: left;
  clear: left;
  padding: 1em 1em 1em 0;
}

.preview .node, .preview .comment, .sticky {
  margin: 0;
  padding: 0.5em 0;
  border: 0;
  background: 0;
}

.sticky {
  padding: 1em;
  margin-bottom: 1em;
}

.node .content {
  margin: 1em 0;
}


/** Blocks **/

.block {
  margin: 1em 0;
}

#left .block h2.title,
#right .block h2.title {
  margin: 0;
  padding: 0.5em;
  background-color: #f8f8f8;
  font-size: 1.15em;
}

#left .menu,
#right .menu {
  background-color: #fafafa;
}

#left .menu .leaf,
#right .menu .leaf {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}


/** Forms **/

.form-submit {
  margin: 0.5em 0;
  padding: 0.5em 1em;
  background-color: #f2f0f3;
  background-image: url("../images/bg_submit.png");
  background-position: bottom center;
  background-repeat: repeat-x;
  border-color: #cdcbcc #989a99 #989a99 #cdcbcc;
  border-style: solid;
  border-width: 1px;
  color: #222;
  font-weight: bold;
  cursor: pointer;
}

* .form-submit {
  cursor: hand;
}

fieldset .description,
.form-item .description {
  color: #999;
  font-size: 0.85em;
  line-height: 1.25em;
  padding: 0.5em 0;
}

fieldset .description {
  padding: 0;
}

.form-item label {
  margin-bottom: 0.5em;
}

.form-select {
  font-size: 0.9em;
}

.form-text,
.form-textarea {
  font-size: 1em;
  padding: 0.5em;
}


/** Login form **/

#user-login-form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#user-login-form ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.5em;
}

.block-xc_auth h2.title {
  display: none;
}


/** Misc **/

ul.links .addthis {
  display: none; /* FIXME: Remove this someday */
}

