/** Changes to XC theme **/

body {
  background-color: #299ed4;
  color: #454545;
  font-size: 12px;
}

a, a:visited {
  color: #299ed4;
}

/***** REMOVING ALL THIS COLORING ******

fieldset,
html.js fieldset.collapsible,
html.js fieldset.collapsed {
  background-color: #EBF2FA;
  border-color: #B8D2F3;
}

legend {
  background-color: #B8D2F3;
  border: none;
  color: #4C80AF;
}

legend a,
html.js fieldset.collapsible legend a {
  color: #4C80AF;
}

fieldset .description {
  color: #4C80AF;
}

tbody, tr, tr.even, tr.odd, tr.region,
thead th, th, td {
  border-color: #B8D2F3;
}

thead th, th, tr.even {
  background-color: #EBF2FA;
}

tr.odd {
  background-color: #F4F9FB;
}

tr.region {
  background-color: #F4F9FB;
}

#top, #top a,
#bottom, bottom a {
  color: #fff;
}

#left .block h2.title,
#right .block h2.title {
  background-color: #EBF2FA;
}

#left .menu,
#right .menu {
  background-color: #F4F9FB;
}

#middle {
  border-color: #185B9F;
}

#header-links .links li,
#header-links .menu .leaf,
#header-links #block-menu-primary-links .leaf {
  color: #fff;
  background-color: #83da89;
  background-image: url("../images/bg_green-button.png");
  background-position: center center;
  border: 1px solid #3B6E22;
}

#header-links .links li a,
#header-links .menu .leaf a,
#header-links #block-menu-primary-links .leaf a {
  color: #fff;
}

.breadcrumb {
  background-color: #EBF4FD;
  border: none;
  color: #547EA8;
  font-weight: bold;
}

.breadcrumb span,
.breadcrumb a,
.breadcrumb a:visited {
  background-image: url("../images/bg_bcrumb.png");
  background-position: right center;
  background-repeat: no-repeat;
  color: #547EA8;
}

.admin-panel h3,
div.admin-panel h3 {
  background-color: #EBF2FA;
}

.admin-panel .body,
div.admin-panel .body {
  background-color: #F4F9FB;
}

#mission {
  background-color: #DDEAFA;
  border: 1px solid #C9DEF1;
}

************************************************/

#top-inner {
  margin: 0;
}

#bottom-inner {
  margin: 0;
}

#left,
#center,
#right {
  margin: 0;
  padding: 0;
}

#left-inner {
  margin-left: 0;
}

.two-sidebars #center {}

#center-inner {
  margin-left: 0;
  margin-right: 0;
  margin-top: -1px;
}

#right-inner {
  margin-right: 0;
}

#content {
  margin: 1em 1em -1px;
  position: relative;
  top: -1px;
}

#content-top,
#content-bottom {
  margin: 0;
}


/** Messages **/

div.messages, div.status, div.warning, div.error, div.help {
  margin: 1em 1em 0;
}


/** Misc **/

#middle .block-xc_browse,
#middle .block-xc_search {
  margin: 0;
}

/** show search block in node **/
body.page-node #block-xc_search-xc_search_form {
  padding-left: 100px;
}

.xc-logged-in-text {
  color: #94d800;
  font-size: 10px;
  line-height: 12px;
  text-shadow: #1a7db4 -1px -1px 0;
}

.tab-xc-search.sidebar-left #left {
  min-height: 60px;
  background-color: #c4e7fa;
  background-image: url('../images/bg_middle_top.png');
  background-repeat: repeat-x;
}

.tab-xc-search.sidebar-left #middle {
  min-height: 60px;
  background-image: url('../images/bg_middle_blue_left.png');
  background-position: left;
  background-repeat: repeat-y;
}

/** Header **/

#logo {
  position: absolute;
  bottom: 10px;
}

#header {
  height: 80px;
  position: relative;
  background-image: url('../images/bg_header_bottom.png');
  background-repeat: repeat-x;
  background-position: bottom;
}

#top-inner {
  margin: 0;
}

#middle {}

#header-links .links,
#header-links .menu {
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
}

#header-links .links li,
#header-links .menu .leaf,
#header-links #block-menu-primary-links .leaf {
  color: #2d373c;
  background-color: transparent;
  background-image: none;
  border: none;
}

#header-links #primary li,
#header-links #xc-primary li {
  margin: 0 0 0 6px;
  padding: 0;
  position: relative;
  bottom: 3px;
  background-image: url('../images/bg_tabs.png');
  background-position: left 1px;
  background-repeat: no-repeat;
  font-size: 12px;
}

#header-links #primary li.active,
#header-links #xc-primary li.active {
  bottom: 2px;
  background-position: left -50px;
}

#header-links .links li a,
#header-links .menu .leaf a,
#header-links #block-menu-primary-links .leaf a {
  color: #2d373c;
}

#header-links #primary li a,
#header-links #xc-primary li a {
  display: block;
  padding: 7px 20px 7px 16px;
  text-decoration: none;
  text-shadow: #acd9f0 1px 1px 0;
  background-image: url('../images/bg_tabs.png');
  background-position: right -99px;
  background-repeat: no-repeat;
  position: relative;
  right: -3px;
}

#header-links #primary li a.active,
#header-links #xc-primary li a.active {
  padding: 7px 20px 7px 16px;
  background-position: right -50px;
}

#header-links-primary {
  position: absolute;
  bottom: 0;
  right: 3px;
  width: 100%;
}

#header-links #secondary li,
#header-links #xc-secondary li,
#header-links #block-menu-secondary-links .leaf {
  display: inline;
  padding: 0 6px;
  border-color: #bbb;
  color: #fff;
  text-shadow: #1a7db4 -1px -1px 0;
}

#header-links #secondary li a,
#header-links #xc-secondary li a,
#header-links #block-menu-secondary-links .leaf a {
  background-color: transparent;
  background-image: none;
  color: #fff;
  text-shadow: #1a7db4 -1px -1px 0;
  text-decoration: underline;
}

#header-links #secondary li a:hover,
#header-links #xc-secondary li a:hover,
#header-links #block-menu-secondary-links .leaf a:hover {
  text-decoration: none;
}


/** Tabs **/

div.tabs {
  margin: 0;
  font-size: 11px;
}

body.page-node div.tabs {
  display: none;
}

ul.primary {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #4593b9;
  background-color: transparent;
  background-image: url('../images/bg_menu.png');
  background-position: 0 1px;
  background-repeat: repeat-x;
  list-style: none;
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
  position: relative;
  top: -1px;
}

ul.primary li {
  float: left;
  margin: 0;
  padding: 0;
}

ul.primary li a {
  display: block;
  margin: 0;
  padding: 0 10px;
  border-width: 0 1px 1px 0;
  border-right: 1px solid #2c8cbc;
  border-bottom: 1px solid #4593b9;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  text-shadow: #398db2;
  background-color: transparent;
  background-image: url('../images/bg_menu.png');
  background-position: 0 1px;
  background-repeat: repeat-x;
  height: 30px;
}

ul.primary li a:hover {
  text-decoration: none;
  border-width: 0 1px 1px 0;
  border-right: 1px solid #2c8cbc;
  border-bottom: 1px solid #4593b9;
  background-color: transparent;
  background-image: url('../images/bg_menu_hover.png');
}


ul.primary li.active a,
ul.primary li.active a:hover {
  height: 30px;
  color: #2d373c;
  text-shadow: 1px 1px 0 #f8fcff;
  border-width: 0 1px 1px 0;
  border-right-color: #a0d0e6;
  border-bottom-color: #c3e4f3;
  background-color: #c3e4f3;
  background-image: none;
}

body.page-user ul.primary li.active a,
body.page-user ul.primary li.active a:hover {
  border-bottom-color: #fff;
  background-color: #fff;
}


ul.secondary {
  border: none;
  margin: -1px 0 0;
  padding: 1px 0 0;
  color: #4593b9;
  height: 30px;
  line-height: 30px;
  list-style: none;
  white-space: nowrap;
  border: solid #ccc;
  border-width: 0;
  background-color: #c3e4f3;
}

ul.secondary li {
  margin: 0;
  padding: 0 10px;
  display: block;
  float: left;
  border: none;
}

ul.secondary li.active {
  color: #2d373c;
}

ul.secondary a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #4593b9;
  border: none;
}


ul.secondary a:hover {
  text-decoration: underline;
  border: none;
}

ul.secondary a.active,
ul.secondary a.active:hover {
  color: #2d373c;
  border: none;
}


/** Search **/

#xc-search-form {
  margin: 0;
  padding: 1em 0 0;
}

#xc-search-keys .form-text {
  height: 20px;
  padding: 6px 4px 6px 7px;
  border: 1px solid #85b2b5;
  background-color: #fff;
  background-image: url('../images/bg_search_box.png');
  background-position: left top;
  background-repeat: no-repeat;
  font-size: 14px;
  font-weight: bold;
}

#xc-search-hits {
  margin-left: 1.5em;
}

#xc-search-hits .form-submit {
  padding-left: 50px;
  border: none;
  width: 130px;
  height: 35px;
  background-color: transparent;
  background-image: url('../images/search_button_mag.png');
  background-repeat: no-repeat;
  position: relative;
  top: -2px;
  text-align: left;
  text-shadow: 1px 1px #F3FBD4;
}

#block-xc_search-facet_checkboxes {
  margin: 0;
  padding: 1em 0.5em;
  background-color: transparent;
  font-size: 11px;
  font-weight: bold;
}

#block-xc_search-facets {
  margin: 0;
}

#block-xc_search-facets h2.title {
  display: none;
}

#block-xc_search-facets fieldset,
#block-xc_search-facets html.js fieldset.collapsible,
#block-xc_search-facets html.js fieldset.collapsed {
  padding: 0.25em 0.75em 0.5em 0.5em;
  margin: 0 0 0.5em;
  background-color: transparent;
  border: none;
}

#block-xc_search-facets fieldset fieldset {
  background-color: transparent;
}


#block-xc_search-facets legend {
  padding: 0;
  border: none;
  background-color: transparent;
  color: #454545;
  font-size: 11px;
  font-weight: bold;
}

#block-xc_search-facets legend a,
#block-xc_search-facets html.js fieldset.collapsible legend a {
  color: #454545;
  text-decoration: none;
}

#block-xc_search-facets legend a:hover {
  text-decoration: underline;
}

#block-xc_search-facets .xc-search-facet-more-link {
  color: #299ed4;
}

html.js #block-xc_search-facets fieldset.collapsible legend a {
  background-color: transparent;
  background-image: url('../images/arrow_bottom.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-left: 1.5em;
}

html.js #block-xc_search-facets fieldset.collapsed legend a {
  background-color: transparent;
  background-image: url('../images/arrow_right.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-left: 1.5em;
}

#block-xc_search-facets fieldset .item-list ul,
#block-xc_search-facets fieldset .item-list ul li {
  font-size: 11px;
  list-style: none;
  list-style-type: none;
  line-height: 1.5em;
}

#block-xc_search-facets fieldset .item-list ul li a {
  color: #454545;
}

#block-xc_search-facets fieldset .item-list ul li a.xc-search-facet-more-link {
  padding-left: 1em;
  color: #299ed4;
}

#xc-search-active-filters h3 {
  margin: 0;
  padding: 1em 0.5em 0.5em 1em;
  font-size: 11px;
  font-weight: bold;
  color: #333;
}

#xc-search-active-filters ul {
  margin: 0 1.25em 0 0.85em;
  padding: 0;
  list-style: none;
  font-size: inherit;
}

#xc-search-active-filters ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#xc-search-active-filters ul li a {
  color: #454545;
}

.xc-search-active-filter {
  height: inherit;
  margin-bottom: 0.5em;
  padding: 0.5em;
  display: block;
  overflow: visible;
  clear: both;
  position: relative;
  border: 1px solid #74c6ea;
  background-color: #daf2ff;
  line-height: 1.25em;
}

.last .xc-search-active-filter {
  margin-bottom: 0;
}

.xc-search-active-filter:hover {
  border-color: #ff435b;
  background-color: #ffeaea;
}

.xc-search-active-filter .xc-search-facet-field-label {
  display: block;
  color: #608394;
  font-style: italic;
  font-size: 10px;
}

.xc-search-active-filter:hover .xc-search-facet-field-label {
  color: #946066;
}

.xc-search-active-filter .xc-search-facet-label {
  display: block;
  color: #333;
  font-size: 11px;
}

#xc-search-active-filters ul li a.xc-search-active-filter-link,
.xc-search-active-filter-link {
  text-decoration: none;
}

#xc-search-active-filters ul li a.xc-search-active-filter-image,
.xc-search-active-filter-image {
  width: 50px;
  height: 10px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  border: solid #ff435b;
  border-width: 1px 1px 2px 2px;
  background-color: #ff435b;
  background-image: url('../images/facet_remove.png');
  background-position: center;
}

#xc-search-active-filters ul li .xc-search-active-filter:hover a.xc-search-active-filter-image,
.xc-search-active-filter-image {
  display: block;
}

#xc-search-active-filters ul li a.xc-search-active-filter-image img,
.xc-search-active-filter-image img {
  display: none;
}

.xc-search-facet-link,
.xc-search-facet-more-link {
  font-size: 11px;
}

.xc-search-facet-link .facet-term-count {
  color: inherit;
}

#block-xc_search-xc_search_form {
  margin-bottom: 0;
  min-height: 61px;
  background-color: #c4e7fa;
  background-image: url('../images/bg_middle_top.png');
  background-repeat: repeat-x;
  background-position: 0 1px;
}

.xc-search-results .result .xc-snippet {
  font-size: 10px;
}

.xc-search-results .result .xc-snippet .snippet-label {
  color: #8A8A8A;
  text-align: right;
  text-transform: lowercase;
}

.xc-search-results .result .xc-snippet,
.xc-search-results .result .highlight-container,
.xc-search-results .result .xc-abstract-container {
  margin-top: 0.5em;
  line-height: 1.5em;
}

/** No result search **/

#xc-search-no-result {
  margin: 3em 5em 3em -200px;
  padding-left: 200px;
  background-image: url('../images/bg_no_results.png');
  background-position: 75px center;
  background-repeat: no-repeat;
  min-height: 100px;
}

#xc-search-no-result h2 {
  font-weight: normal;
  margin: 0.5em 0;
}

#xc-search-no-result h2 em {
  font-weight: bold;
  font-style: normal;
  color: #6c9105;
}

#xc-search-no-result ul {
  padding-left: 1.5em;
  color: #454545;
}


/** Full results page **/

#xc-search-full-left {
  margin-left: 1em;
}

#xc-search-full-right {
  margin-right: 2em;
  padding-top: 10px;
}

.xc-search-full-table {
  max-width: 700px !important;
  width: 700px !important;
  margin-top: 0;
}

.xc-search-full-table tr {}

.xc-search-full-table td {
  vertical-align: top;
  padding-left: 0;
}

.xc-availability table thead {
  /* display: none; */
}

.xc-availability table thead th {
  vertical-align: bottom;
  margin-top: 0;
  padding-left: 0;
  padding-top: 0;
  font-size: 11px;
  font-weight: normal;
}

#xc-circ-link-on-top {
  margin-right: 5px;
}

.xc-label {
  color: #8a8a8a;
  font-size: 11px;
}

.xc-circ-status {
  text-align: center;
}

.xc-circ-status-available {
  color: #27b738;
}

.xc-circ-status-unknown, .xc-circ-status-other {
  color: #e8311e;
}

.xc-mlt-count {
  width: 20px;
  height: 20px;
  display: block;
  color: #FFFFFF;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #289DD3;
}

#xc-search-similar-items {
  margin-left: 2em;
}

#xc-search-similar-items h3.title {
  color: #8a8a8a;
  font-size: 12px;
}

#xc-search-similar-items-images {
  margin: 1em -1em 1em -3em;
  padding: 1em 1em 1em 3em;
  background-color: #FAFAFA;
}

#xc-search-similar-items-images .xc-mlt {
  margin: 5px;
  padding: 0;
  position: relative;
  display: block;
  float: left;
}

#xc-search-similar-items-images .xc-mlt-coverart {}

#xc-search-similar-items-images .xc-mlt-count {
  position: absolute;
  top: -5px;
  left: -5px;
}

#xc-search-similar-items-titles {}

#xc-search-similar-items-titles ul {
  width: 33%;
  float: left;
}

#xc-search-similar-items-titles ul li {
  list-style: none;
  list-style-type: none;
}

#xc-search-similar-items-titles table tr,
#xc-search-similar-items-titles table tr td {
  vertical-align: top;
  margin: 0;
  padding: 0;
  border: none;
}

table.xc-multicolumn-table {
  margin-top: 0;
}
table.xc-multicolumn-table tr.odd, table.xc-multicolumn-table tr.even {
  background-color: transparent;
}

table.xc-column-2 tr td {
  width: 50%;
}

table.xc-column-3 tr td {
  width: 33%;
}

table.xc-column-4 tr td {
  width: 25%;
}

table.xc-column-5 tr td {
  width: 20%;
}

#xc-search-similar-items-titles table tr.odd,
#xc-search-similar-items-titles table tr.odd {
  background-color: transparent;
  border: none;
}

#xc-search-similar-items-titles .xc-mlt {
  margin: 1em 2em 1em 0;
  padding-left: 25px;
  position: relative;
  display: block;
}

#xc-search-similar-items-titles .xc-mlt-count {
  left: 0;
  position: absolute;
  top: 2px;
}

#xc-search-similar-items-titles .xc-mlt-title,
#xc-search-similar-items-titles .xc-mlt-author {
  /* display: block; */
  /* overflow: hidden; */
}

#xc-search-similar-items-titles .xc-mlt-title {
  max-height: 3em;
}

#xc-search-similar-items-titles .xc-mlt-author {
  /* height: 3em; */
}

.xc-other-contributors {}

.xc-other-contributors ul {
  margin: 0;
  padding: 0;
}

.xc-other-contributors ul li {
  margin: 0;
  display: block;
  list-style: none outside none;
}

.xc-multicolumn-list div.item-list {
  margin: 0;
  padding: 0;
  float: left;
}

.xc-multicolumn-2 div.item-list {
  width: 50%;
}

.xc-multicolumn-3 div.item-list {
  width: 33%;
}

.xc-multicolumn-list ul li {
  margin: 0;
  padding: 0 0.5em 0.5em 0;
  display: block;
  list-style: none outside none;
}
  
.xc-search-full-table .item-list ul li {
  list-style: none;
  margin: 0 0 0.25em;
}


/** Info bar **/

.xc-search-info-bar {
  font-size: 11px;
  padding: 0 0.5em;
  height: 37px;
  line-height: 37px;
}

.xc-search-info-bar-primary.xc-search-info-bar-top {
  height: 37px;
  border: none;
  background-color: none;
  background-image: url('../images/bg_info_bar_top.png');
  background-repeat: repeat-x;
  line-height: 33px;
}

.xc-search-info-bar-primary.xc-search-info-bar-bottom {
  padding-top: 2px;
  height: 33px;
  border: none;
  background-color: none;
  background-image: url('../images/bg_info_bar_bottom.png');
  background-repeat: repeat-x;
  line-height: 33px;
}

.xc-search-info-bar-secondary.xc-search-info-bar-top {
  margin-bottom: -10px;
  position: relative;
  top: -3px;
}

.xc-search-info-bar-pager {}

.xc-search-info-bar-actions {}

.xc-search-actions {}

.xc-search-action-links {}

.xc-search-action-links .links {}

.xc-search-action-links ul, .xc-search-action-buttons ul {}

.xc-search-action-links ul li {}

.xc-search-action-links ul li.first {}

.xc-search-action-links ul li a {}

.xc-search-action-buttons {
  margin-left: 0.5em;
}

.xc-search-action-buttons .item-list {}

.xc-search-action-buttons ul {}

.xc-search-action-buttons ul li {
  display: block;
  float: left;
  line-height: inherit;
}

.xc-search-action-buttons ul li input {
  height: 22px;
  margin: 6px 0;
  padding: 0 0.5em 2px;
  border: solid #bbb;
  /*
  color: #454545;
  font-weight: bold;
  */
  border-width: 0 0 0 1px;
  background-color: transparent;
  background-image: url('../images/bg_action_button_middle.png');
  background-repeat: no-repeat;
  background-position: center;
  font-size: 11px;
}

.xc-search-action-buttons ul li input:hover {
  background-color: #bbb;
  background-image: none;
}

.xc-search-action-buttons ul li input.bookmark-action {
  padding-left: 7px;
  border-left: none;
  background-image: url('../images/bg_action_button_first.png');
  background-position: left center;
}

.xc-search-action-buttons ul li input.bookmark-action:hover {
  background-color: transparent;
  background-image: url('../images/bg_action_button_first_hover.png');
}

/*
.xc-search-action-buttons ul li input.email-action {}

.xc-search-action-buttons ul li input.text-action {}
*/

.xc-search-action-buttons ul li input.print-action {
  padding-right: 7px;
  background-image: url('../images/bg_action_button_last.png');
  background-position: right center;
}

.xc-search-action-buttons ul li input.print-action:hover {
  background-color: transparent;
  background-image: url('../images/bg_action_button_last_hover.png');
}

.xc-search-numbers {
  position: absolute;
  right: 5px;
  top: 0;
}

.xc-search-numbers .first,
.xc-search-numbers .last,
.xc-search-numbers .total {}

.xc-search-numbers .first {}

.xc-search-numbers .last {}

.xc-search-numbers .total {}

.xc-search-pager {
}

.xc-search-info-bar-002a-primary .xc-search-pager {}

.xc-search-info-bar-003-primary .xc-search-back-to-results {
  width: 200px;
  float: left;
  text-align: left;
}
.xc-search-info-bar-003-primary .xc-search-pager {
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}

.xc-search-pager .item-list {}

.xc-search-pager .pager {}

.xc-search-pager ul {}

.xc-search-pager ul li,
.xc-search-pager .item-list .pager li {}

.xc-search-pager ul li a,
.xc-search-pager ul li.pager-current,
.xc-search-pager .item-list .pager li.pager-current {}

.xc-search-pager ul li.pager-ellipsis,
.xc-search-pager .item-list .pager li.pager-ellipsis {}

.xc-search-pager-previous, .xc-search-pager-next {
  width: 39px;
  height: 25px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
}

.xc-search-pager-next {
  background-image: url('../images/pager_next.png');
}

.xc-search-pager-next[disabled='disabled'],
.xc-search-pager-next.xc-search-pager-disabled {
  background-image: url('../images/pager_next_disabled.png');
}

.xc-search-pager-previous {
  background-image: url('../images/pager_prev.png');
}

.xc-search-pager-previous[disabled='disabled'],
.xc-search-pager-previous.xc-search-pager-disabled {
  background-image: url('../images/pager_prev_disabled.png');
}

.xc-search-pager .xc-current {
  height: 30px;
}

.xc-search-pager .xc-current .form-text {
  margin-top: 7px;
  border: 1px solid #dfded9;
  vertical-align: top;
}

.xc-search-pager .xc-current {}

.xc-search-pager ul li.first,
.xc-search-pager ul li.first a,
.xc-search-pager .item-list .pager li.first,
.xc-search-pager .item-list .pager li.first a {}

.xc-search-pager ul li.pager-current {}

.xc-search-pager ul li.pager-current a {}

.xc-search-action-form {
  margin-left: 0.5em;
}

.xc-search-sort-form, .xc-search-sort-form form, .xc-search-sort-form form div {}

.xc-search-rowsperpage {}

.xc-search-rowsperpage-link-actual {}


/** Search results **/

.xc-search-results {
  margin-top: 0;
}

.xc-search-results td {
  padding: 1em 0.5em 0;
}

.xc-search-results .checkbox {
  padding-left: 0;
  padding-right: 0;
  text-align: left;
}

.xc-search-results .num {
  padding-top: 1.1em;
  padding-right: 0;
  text-align: right;
}

.xc-search-results .coverart {
  text-align: left;
  vertical-align: top;
}

.xc-search-results .xc-snippet,
.xc-search-results .highlight-container,
.xc-search-results .xc-abstract-container {
  margin-top: 0.5em;
}

.xc-search-results .highlight-container {}

.xc-search-results .highlight-container .highlight,
.xc-search-results .xc-abstract-container .xc-abstract {
  margin: 0 0.5em;
  padding: 0;
  background-color: transparent;
  border: none;
  line-height: 1.5em;
}

.xc-search-results .result .snippet-label {
  color: #8a8a8a;
}

.xc-search-results .result .xc-snippet .snippet-label {
  width: 70px;
}

.xc-search-results .result .xc-title {
  margin-bottom: 0.15em;
  font-size: 13px;
  font-weight: normal;
}

.xc-search-results .result .xc-creator {
  margin-bottom: 0.15em;
  font-size: 11px;
  font-style: italic;
}

.xc-search-results .result .xc-creator-name {
  text-transform: inherit;
  text-decoration: none;
}

.xc-search-results .result .xc-creator-name a {
  color: #454545;
  text-decoration: none;
}

.result-row, .result, .num, .checkbox, .coverart {
  border: none;
}


/** Make notification small and hidden **/

#xc-general-notification {
  display: none;
  clear: both;
  color: #8a8a8a;
}

#xc-bookmark-notification {
  margin-top: 10px;
  display: none;
  border: 2px solid #b3d2a1;
  background-color: #f6ffe1;
  padding: 10px;
  font-size: 10px;
}

#xc-bookmark-notification .content {
  padding-left: 20px;
  background-image: url('../images/success.png');
  background-repeat: no-repeat;
}

#xc-bookmark-notification img {
  float: right;
}

/** Browse pages navigation **/

.xc-navigation-bar-content ul {
  height: 32px;
  border-bottom: none;
  background-image: url('../images/bg_browse_list_slim.png');
  background-repeat: repeat-x;
}

.xc-navigation-bar-content ul li a {
  display: block;
  float: left;
  margin: 0;
  padding: 0 11px;
  height: 35px;
  line-height: 35px;
  border-left: 1px solid #b0c8e4;
  background-color: transparent;
  background-image: url('../images/bg_browse_list.png');
  background-position: left top;
  background-repeat: no-repeat;
  color: #4d4d4d;
  font-size: 14px;
  text-shadow: 1px 1px #ffffff;
  text-align: center;
  text-decoration: none;
}

.xc-navigation-bar-content ul li.first a {
  border-left: none;
  background-position: -1px top;
}

.xc-navigation-bar-content ul li a.active {
  border-left: none;
  background-color: #fff;
  background-image: url('../images/bg_browse_list_active.png');
  background-repeat: no-repeat;
  background-position: left -5px;
}

.xc-navigation-bar-content ul li.first a.active {
  background-image: none;
}

/** Browse pages **/

#center form#xc-browse-form {
  margin: 0;
  padding: 1em;
  background-color: #C3E4F3;
}

#xc-browse-form .form-text,
#xc-browse-form .form-textarea {
  height: 20px;
  padding: 6px 4px 6px 7px;
  border: 1px solid #85b2b5;
  background-color: #fff;
  background-image: url('../images/bg_search_box.png');
  background-position: left top;
  background-repeat: no-repeat;
  font-size: 14px;
  font-weight: bold;
}

/** availability **/
td.xc-availability {
  color: #454545;
}

td.xc-availability .available {
  color: #27b738;
  font-weight: bold;
}

td.xc-availability .not-available {
  color: #e8311e;
  font-weight: bold;
}

/** icons for formats **/
.xc-format .books_texts {
  background-image: url(../images/book.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 21px;
}

.xc-format .films_videos {
  background-image: url(../images/film.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 21px;
}

.xc-format .dvds {
  background-image: url(../images/dvd.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 21px;
}

.xc-format .sound_recordings {
  background-image: url(../images/sound-recording.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 21px;
}

.xc-format .audio_cds {
  background-image: url(../images/audio-cd.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 21px;
}

.xc-format .musical_scores {
  background-image: url(../images/music_score.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 21px;
}

.xc-format .journals {
  background-image: url(../images/journal.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 21px;
}

.xc-format .still_images {
  background-image: url(../images/picture.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 21px;
}

.xc-format .online_book {
  background-image: url(../images/e-book.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 21px;
}

.xc-format .online_journal {
  background-image: url(../images/e-journal.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 21px;
}

.xc-format .online {
  background-image: url(../images/world.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 21px;
}

div#xc-search-related-subjects div.xc-search-subject {
  float: left;
  margin-right: 20px;
  width: 150px;
}

div#xc-search-related-subjects div.xc-search-subject h3 {
  margin-top: 0;
  font-size: 12px;
}

td.xc-title {
  font-weight: bold;
}

/** checked out items page **/
body.user-loaned-items div#content, body.user-requested-items div#content {
  margin: 0;
}

table.xc-check-out-items th, table.xc-requested-items th {
  background-image: url("../images/topbar-bg.gif");
  background-repeat: repeat-x;
}

table.xc-check-out-items #xc-check-out-due-date {
  background-color: #4eabdb;
  color: white;
  background-image: none;
}

table.xc-check-out-items tr.odd, table.xc-check-out-items tr.even,
table.xc-requested-items tr.odd, table.xc-requested-items tr.even {
  background-color: transparent;
}

tr.xc-check-out-item td, tr.xc-requested-item td {
  border: none;
}
  
table.xc-check-out-items, table.xc-requested-items {
  margin: 0;
}

.xc-check-out-item .control {
  background-color: #e3f5ff;
}

.xc-check-out-item .overdue {
  color: red;
}

.xc-check-out-item input.renew {
  margin: 0;
  padding: 0.25em;
}

.xc-check-out-item .authors {
  font-style: italic;
}

/** Bookmark page **/
.xc-bookmark .authors {
  font-style: italic;
}

tr.enhancement-content td h3 {
  margin-top: 0;
  font-size: 12px;
  font-weight: 100;
  font-style: italic;
}

.xc-search-full-table .item-list ul.xc-xissn-list li {
  list-style: square outside none;
  margin-left: 40px;
}

#xc-search-related-resources .item-list h3 {
  display: none;
}

.xc-search-full-table .item-list ul.xc-relations li {
  list-style: square outside none;
  margin-left: 20px;
}

.xc-search-full-table .item-list ul.xc-search-subject li {
  text-indent: -20px;
  padding-left: 20px;
}

/*
#xc-search-full-right .buttons ul li {
  background-color: transparent;
  background-image: url('../images/bg_action_button_first.png');
  background-repeat: no-repeat;
  background-position: center;
}
*/
#xc-search-full-right .buttons ul {
  margin-top: 6px;
}

#xc-search-full-right .buttons ul li {
  width: 145px;
}

#xc-search-full-right .buttons .form-submit {
  height: 22px;
  width: 135px;
  margin: 1px 0 1px 0;
  text-align: left;
  padding: 0 0.5em 1px;
  border: solid #bbb;
  color: #454545;
  font-weight: bold;
  border-width: 0 0 0 1px;
  background-color: transparent;
  background-image: url('../images/bg_action_button.png');
  background-repeat: repeat-x;
  background-position: center;
  font-size: 11px;
}

#xc-search-full-right .buttons .schema-action {
  margin-bottom: 5px;
}

#xc-search-full-right .buttons #bookmarked-wrapper {
  background-image: url('../images/star.png');
  background-repeat: no-repeat;
  background-position: left;
  margin: 1px 0 1px 0;
  padding-left: 20px;
  color: #27B738;
  margin: 0;
}

.page-default-login #center {
  background-color: #F2F2F2;
  margin: 0;
}

#xc-auth-auto-login-form {
  margin: auto;
  padding: 20px 0 20px 0;
  width: 55%;
}

#xc-auth-auto-login-form input.form-submit {
  background-image: url('../images/button-green.png');
  background-repeat: no-repeat;
  background-position: left;
}

#xc-auth-auto-login-form .form-item label {
  font-weight: normal;
}

#xc-auth-auto-login-form #xc-login-text-and-button {
  margin-bottom: 20px;
  padding-bottom: 20px;
  clear: both;
}

#xc-auth-auto-login-form #xc-login-text-and-button #xc-login-button {
  float: right;
  display: block;
}

#xc-auth-auto-login-form #xc-login-text-and-button .form-item {
  float: left;
  display: block;
}

.user-bookmarked-items .xc-search-action-buttons ul li input.bookmark-action {
  background-image: url('../images/remove-icon.png');
  margin-left: 10px;
}

.user-bookmarked-items .xc-search-action-buttons ul li input.email-action {
  background-image: url('../images/bg_action_button_first.png');
}

/* do not display brwose and search tabs in admin screen */
body.page-admin div#xc-primary {
  display: none;
}

/* increase admin menu font size */
#admin-menu {
  font-size: 11px;
}

.xc-search-subjects ul {
  margin-bottom: 0;
}